哈哈 对呀 你 才 知道 我 天天 都 那么 活泼 呀 。 
不错不错 , 说得 太 对了 , 我 家 的 哪位 孩子 这么 厉害 啊 
哈哈 , 你自己 看 
诺儿 好吖 ! 好久 不见 你 了 , 失踪 了 吗 ? 
嗯 是 啊 , 非常 厉害 , 期待 本 周五 晚 8点5 分 的 节目 吧 , 非常 的 精彩哟 
很久 , 我 觉得 都 有 快 一 分钟 了 饿把 , 很 着急 没 想到 却 秒 到了 
那个 国家 当权者 不 在 忽悠 百姓 , 除了 瑞典 外 
天上 掉 多的 还是 雨 , 还没 掉 陨石 的 时候 ~ ~ 
蛮 好的 
卖国贼 啊 
寂寞 寂寞 就好 
都是 他妈逼 的 … … 
你 也好 美 ! 
我 去 看 给 进 吗 ? ? ? 
别 恶心 我 了 ! 你 都 跟 不 上了 ! 
哈哈 等你 结了 就 知道 了 当然 希望 结婚 了 还是 有 恋爱 的 感觉 啊 
这 是 啥 地方 小吃 阿 ? 看起来 跟 米粉 有点 像 
哈哈哈 ~ 苍蝇 都 等 哭了 ! 
哈哈 。 笑死 我了 
啊 , 樱兰 高校 公关部 ~ 现在 正在 出 电视剧 真 人 版的 ~ 
明天见 。 都 是 眼泪 , 不 说 了 。 
哈哈 就是 我 就事 我 就是 我 
什么 ? ? ? 
过来 东方 宝泰 , 我 给 你 留着 
我 这 周 都 不 想 出去 了 。 累死 我 了 。 
哈哈是 啊 , 所以 说是 黑店 . . 
啊 ? 我 不 知道 , 没 听说 过 ! 宝 
嗯 , 我 的 摄像机 也 准备 好 了 哦 ! 
哈哈~~ 好啊 ! 我 也 去 体会 一下 你 的 小 幸福 
觉得 他 超 有 亲近感 ~ 
那 气死 他 呵呵 ! 总 有 一些 人 觉得 自己 很 牛 ! 
那 啥啥 女王 的 称号 你 别 忘记了 
哈哈哈 。 你 还 能 行事 不 。 自己 跟 自己 抢 沙发 呢 。 
你 能 胖到 哪去 ! 气人 了 不 
别用 才 我 会 伤心 死的 ~ 
不 是 正义感 , 是 他们 二 不 跨 五 的 样子 影响 了 中国 黑社会 的 形象 。 
那 是 你 年纪 小 , 审美观 不 成熟 。 
你 为 神马 就 不 能 想 成 是 鼓励 呢 ? 
你 敢 给 , 我 就 敢 要 
你 应该 说 是 不 是 啥 , 哈哈哈 … … 
哈哈 , 是吗 , 回来 点 个 同样 的 吃吃看 
喜欢 你们 这样 的 人 素质 比较 高 什么 都 可以 理解 
你 那些 消息 都 是 真的 么 ? 中 美 俄 真的 在 搞 深空 拦截 ? 为什么 没有 欧日 ? 
谢谢 刘 老师 关注 鼓励 ! 
恩恩 , 我 知道 你 国庆 放假 心情 都 很 好好 滴 
呵呵 谢谢 哈 听到 这个 我 很 开心 
别人 说 我 还 信 哈子 。 你 说 勒话特假 , 
音乐 唔上 
开始 创业 了 , 不错 不错 , 支持 支持 
早该 想到 问你 ~ 你 肯定 知道 ~ 
