还是 那么 活泼 哈哈哈 
老婆 化妆 要 等得 , 老婆 心事 要 懂得 , 老婆 生日 要 记得 。 
你 支持 谁 呢 ? 
红鞋 子 哇 ! ! 
选手 越来越 历 害了 ! 
请 问 你 等 了 多久 收到 验证 码 信息 的 ? 
某 组织 向来 说 一 套 做 一 套 , 忽悠 百姓 是 一 把 好手 
走路 也 危险 
买 了 试试看 ! 
如果 一 个 特别 帅气 的 特务 ! 哈哈 ! 也 认了 ! 
我 和 寂寞 是 好 朋友 
都是 他妈逼 的 
确实 美 , 这 是 我 最美 的 粉丝 了 , 我 也 是 她 的 铁杆 粉丝 。 
随时 欢迎 啊 ~ ~ 
我 说 我 只 喜欢 西语 老师 一 个 人 
受 不 了 你 俩 结婚 了 还是 这样子 
恩 。 很 好吃 。 
等你 回来 再 做 我 先 放 冰箱 里 保鲜 哈 
天包地 和 地包天 
樱兰 高校 是 漫画 ? 
希望 如此 , 根据 法律 法规 , 政府 别 这 样儿 , 对 我们 好 点儿 
这 分明 是 照着 你 写的 ! 我 当 双 鱼 去 , 这 跟 我 不 太 像 ~ 
不会诶 
就是 腻了点 ~ 
我 也 是 这样 
真的 好黑 
还 记得 大明湖 畔 的 容 馍馍 吗 
小芯 的 单 反 已经 准备 好 随时 开拍 啦 … 三 少 加油 ! 
是 想 请 我 吃饭 麽 ? 来 吧 随时 有空 
你 喜欢 徐浩 吗 ? 我 喜欢 何熠飞 ~ 
我 还 真 不 生气 , 我 就是 写 出来 气人 的 , 哈哈哈 
他 一直 是 你 所爱 , 还有 筷子们 , 我 一直 都 只 爱 我 的 本命 女郎 
我 也 是 沙发 ! 
晚饭 我 都 要 吃 一 大 碗 米饭 吼吼 … … 貌似 胖了哎 
你 才 24 啊 ? 
看不 出来 , 你 还 满有 正义感 的 。 
你 不觉 的 你 有 点 猥琐 ? 
你 是 在 恭喜 我 吗 
你 敢 要 我么 ? 
傻 不傻 . . 
上海 的 好 , 呵 。 
开发区 管委会 , 负责 企业 学校 这 块 的 , 合作 
如果 真 有 这 一 天 , 偶 希望 是 100年 后 ~ ~ 
胡 老师 昨晚 在 新闻 联播 中 不仅帅 , 而且 讲得 也 很 好啊 
我 发觉 我 真的 挺 喜欢 做 家务 , 心情 好 的 时候 。 。 
必须 愿意 啊 
小 异 同学 越来越 美美 啦 
成绩 怎么样 
你 也 赶紧 找个 吧 。 
螃蟹 大人 的 兔子 表情 
